<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<th:block th:replace="~{/layout :: setContent(~{this::content})}">
<th:block th:fragment="content">


    <div class="content">
      <div class="web-wrap">
        <h2><span>LOGIN</span>로그인</h2>
        <p th:if="${msg}" th:text="${msg}" style="text-align: center; margin-bottom: 10px; color: #ff724c;"></p>
        <div class="login-wrap">
          <form id="form" method="post" action="/sub/login">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="hidden" name="dummy" />
            <div class="input-login input-id">
              <label>아이디</label>
              <input type="email" name="usid" class="" autofocus placeholder="example@example.com">
            </div>
            <div class="input-login input-pw">
              <label>비밀번호</label>
              <input type="password" name="password" class="">
            </div>
            <div class="check-style">
              <input type="checkbox" class="" id="id_save">
              <label for="id_save" class="check-shape"></label>
              <label for="id_save" class="check-txt">아이디저장</label>
            </div>
            <button type="submit" class="btn-style btn-green">로그인</button>
          </form>
          <ul class="login-member">
            <li><a href="pw_search.html">비밀번호찾기<i class="xi-angle-right-min"></i></a></li>
            <li><a href="join.html">회원가입<i class="xi-angle-right-min"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
    <!-- content end -->


  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>
  <script>
    $(function () {
      $("#form").validate({
        rules: {
          login_id: {
            required: true,
            email: true,
          },
          login_pwd: {
            required: true,
          }
        },
        messages: {
          login_id: {
            required: "아이디를 입력해주세요.",
            email: "유효한 이메일 주소를 입력해주세요."
          },
          login_pwd: {
            required: "비밀번호를 입력해 주세요.",
          }
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.input-login').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });
    });
  </script>
  
</th:block>
</th:block>

</html>