<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover, minimum-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="우리아이 온라인 학습 도우미">
  <title>아이튜브</title>
  <!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  <link rel="icon" type="image/x-icon" href="favicon.ico"> -->
  <link rel="stylesheet" type="text/css" href="public/css/reset.css">
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="public/js/common.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!-- <script async="" type="text/javascript" src=""></script> -->
  <!--[if lt IE 9]>     	
    <script type="text/javascript">
        alert("현재 실행한 브라우저는 지원하지 않습니다.\n최신 브라우저로 업데이트해주세요!");
    </script>
  <![endif]-->
</head>

<body>
  <div class="wrap">
    <div class="header">      
      <div class="web-wrap">
        <h1 class="logo"><a href=""><span class="hide">아이튜브</span></a></h1>
        <a class="menu-btn" href="">
          <i class="xi-bars xi-2x"></i>
          <span class="hide">모바일메뉴아이콘</span>
        </a>
        <div class="menu">
          <a class="close-btn">
            <i class="xi-close xi-2x"></i>
            <span class="hide">닫기</span>
          </a>
          <div class="top-user">
            <!-- 로그인 안한 일반유저 ( dp-n 클래스로 체인지 제어) -->
            <ul class="user">
              <li><a href="">로그인</a></li>
              <li><a href="">회원가입</a></li>
            </ul>
            <!-- 로그인 한 유저 ( dp-n 클래스로 체인지 제어) -->
            <ul class="user dp-n">
              <li><a href="">로그아웃</a></li>
              <li><a href="">마이페이지</a></li>
            </ul>
            <!-- 언어 -->
            <div class="lang">
              <a href="">KR<i class="xi-caret-down-min"></i></a>
              <ul>
                <li><a href="">KR</a></li>
                <li><a href="">KR</a></li>
              </ul>
            </div>
          </div>
          <ul class="gnb">
            <li><a href="">아이튜브 소개</a></li>
            <li><a href="">이용방법</a></li>
            <li><a href="">공지사항</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="dim"></div>
    <div class="content">
      <div class="web-wrap">
        
      </div>
    </div>
    <div class="footer">
      <div class="web-wrap">
        <div class="ft-link">
          <a href="">이용약관</a>
          <a href="">개인정보처리방침</a>
        </div>
        <div class="ft-info">
          <p>
            <span>(주)테크노블러드코리아</span>
            <span>대표이사 : 류일영</span>
            <span>사업자등록번호 : 000-00-00000</span>
          </p>
          <address>서울시 강남구 언주로 514, 힐헤븐빌딩 11층</address>        
          <p class="copylight">Copyright ⓒ 아이튜브. All Rights Reserved.</p>
        </div>
        <div class="ft-logo"><span class="hide">아이튜브</span></div>
      </div>
    </div>
  </div>
</body>

</html>