<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<th:block th:replace="~{/layout :: setContent(~{this::content})}">
<th:block th:fragment="content">

    <div class="m-visual">
      <div class="visual-bg">
        <div class="m-title-txt">
          <p class="dot">키즈쉴드</p>
          <div>
            <span>키즈쉴드는 어린자녀들의</span>
            <span><b>유튜브 중독</b>을 <b>걱정하는 부모님</b>들과 </span>
            함께합니다.
          </div>
        </div>
        <div>
          <a href="" class="btn-style btn-yellow">다운로드<i class="arrow-right"></i></a>
        </div>
      </div>
    </div>

    <div class="m-content-1">
      <div class="web-wrap">
        <div class="top10-box">
          <div class="left">
            <h4>가장 많이 본 동영상 <b>TOP 10</b></h4>
            <div class="roll-box">
              <ul>
                <li>
                  <a href="">
                    <p>1. 모두가 코딩을 배워야 하는 진짜 진짜 이유</p>
                    <span>506,889회</span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <p>2. 모두가 코딩을 배워야 하는 진짜 진짜 이유</p>
                    <span>506,889회</span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <p>3. 모두가 코딩을 배워야 하는 진짜 진짜 이유</p>
                    <span>506,889회</span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <p>4. 모두가 코딩을 배워야 하는 진짜 진짜 이유</p>
                    <span>506,889회</span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <p>5. 모두가 코딩을 배워야 하는 진짜 진짜 이유</p>
                    <span>506,889회</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="right">
            <a class="btn-up" href=""><i class="xi-angle-up-min"></i><span class="hide">이전</span></a>
            <a class="btn-down" href=""><i class="xi-angle-down-min"></i><span class="hide">다음</span></a>
          </div>
        </div>
        <div class="top10-box">
          <div class="left">
            <h4>내 아이 연령대가 많이 본 동영상 <b>TOP 10</b></h4>
            <div class="roll-box">
              <!-- 로그인 전 -->
              <p style="display: block;">로그인을 해주세요.</p>
              <!-- 로그인 후 -->
              <ul style="display: none;">
                <li>
                  <a href="">
                    <p>모두가 코딩을 배워야 하는 진짜 이유1</p>
                    <span>506,889회</span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <p>모두가 코딩을 배워야 하는 진짜 이유2</p>
                    <span>506,889회</span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <p>모두가 코딩을 배워야 하는 진짜 이유3</p>
                    <span>506,889회</span>
                  </a>
                </li>
                <li>
                  <a href="">
                    <p>모두가 코딩을 배워야 하는 진짜 이유4</p>
                    <span>506,889회</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="right">
            <a class="btn-up" href=""><i class="xi-angle-up-min"></i><span class="hide">이전</span></a>
            <a class="btn-down" href=""><i class="xi-angle-down-min"></i><span class="hide">다음</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="m-content-2">
      <div class="web-wrap">
        <div class="m-title-txt">
          <p>
            <span class="dot">온라인</span>학습 도우미
          </p>
          <div>
            <span>코로나로 초등생들 ‘유튜브 중독’ 심각,</span>
            <span><b>원격수업 ¼이 유튜브</b> 입니다.</span>
          </div>
        </div>
        <div class="con-img">
          <img src="public/img/main_con_img.png" alt="전국 초등학교 4학년 인터넷ㆍ스마트폰 이용습관 그래프, 초등학교 원격 수업자료 그래프">
        </div>
      </div>
    </div>
    <div class="m-content-3">
      <div class="web-wrap">
        <div class="m-title-txt">
          <p>
            <span class="dot">부모님들의 걱정</span>알고 있습니다.
          </p>
          <div>
            <span>걱정마세요! <b>키즈쉴드</b>가 있습니다.</span>
          </div>
        </div>
        <div class="con-img">
          <div>
            제가 직장맘인데 하루종일 아이들이 유튜브랑 게임에만 빠져 있어요. 뒤에서 하루종일 감시할 어른도 없고 방치상태라 걱정인데, 원격 교육영상이 유튜브 사이트로 연결되니 학습영상 옆으로 다른 동영상들의 유혹이… 
          </div>
          <div>
            문제는 유튜브 자료예요. 유튜브에서 동영상을 재생할 때 두가지 문제 중 하나는 화면 오른쪽의 ‘다음 동영상’ 이예요. 관련이 있다고는 하지만 유해한 영상 목록이 나올 수 도 있죠. 또 하나는 자동으로 다음 영상을 재생하는 유튜브 기능이죠…
          </div>
          <div>
            유튜브의 놀라운 알고리즘 덕에 아이가 원격수업 하러 갔다가 여타 동영상을 보는 부작용이 큽니다. 1, 2교시는 EBS가 해주고 3,4 교시는 유튜브를 보면서 공부하라고 하는데..
          </div>
        </div>
      </div>
    </div>
    <div class="m-content-4">
      <div class="web-wrap">
        <div class="m-title-txt">
          <p>
            <span class="dot">키즈쉴드 솔루션</span>
          </p>
          <div>
            <span>키즈쉴드 솔루션은 아이가 유튜브에 있는 교육 영상을 시청할 때 유튜브 사이트가 열리는 대신</span>
            <span><b>전용 플레이어</b>로 동영상을 실행하여 <b>추천 영상 노출을 완벽히 차단</b> 합니다.</span>
          </div>
        </div>
        <div>
          <a href="" class="btn-style btn-yellow">다운로드 하러가기<i class="arrow-right"></i></a>
        </div>
        <ul class="con-box">
          <li>
            <p>완벽차단</p>
            <div>
              <span>유튜브의 추천 영상과 광고가</span>
              <span>뜨지 않도록 전용 플레이어로 실행</span>
            </div>
          </li>
          <li>
            <p>가벼움</p>
            <div>
              <span>클라이언트와 전용 플레이어 합쳐</span>
              <span>50M byte 이하의 용량</span>
            </div>
          </li>
          <li>
            <p>개인정보보호</p>
            <div>
              <span>이름, 주민번호, 전화번호, 주소를</span>
              <span>수집하지 않습니다</span>
            </div>
          </li>
          <li>
            <p>무료</p>
            <div>
              <span>기간제한 없이 무료로</span>
              <span>사용 가능합니다</span>
            </div>
          </li>
          <li>
            <p>간편원격제어</p>
            <div>
              <span>부모님들이 언제 어디서나 PC나 스마트폰에서</span>
              <span>간편하게 제어할 수 있습니다</span>
            </div>
          </li>
          <li>
            <p>동영상 히스토리</p>
            <div>
              <span>내 아이가 시청한 동영상 목록을</span>
              <span>확인할 수 있습니다</span>
            </div>
          </li>
        </ul>        
      </div>
    </div>
    <div class="m-content-5">
      <div class="web-wrap">
        <div class="m-title-txt">
          <p>
            <span class="dot">FAQ</span>
          </p>
        </div>
        <ul class="faq-box">
          <li class="actived">
            <div class="asking">
              <p>키즈쉴드는 무료 인가요?</p>
              <i class="xi-angle-down"></i>
            </div>
            <div class="answer">
              무료입니다. 향후 다양한 기능을 추가한 유료 서비스 버전이 제공될 수 있으나 현재 무료로 제공되는 기능만으로도 충분히 만족하실 수 있으리라 생각합니다.
            </div>
          </li>
          <li>
            <div class="asking">
              <p>사용방법은 간단한가요?</p>
              <i class="xi-angle-down"></i>
            </div>
            <div class="answer">
              부모님들은 언제 어디서든 스마트폰이나 PC로 로그인해서 on/off만 선택하시면 됩니다.
            </div>
          </li>
          <li>
            <div class="asking">
              <p>개인정보는 안전하게 보호되고 있나요?</p>
              <i class="xi-angle-down"></i>
            </div>
            <div class="answer">
              개인정보는 암호화를 통해 안전하게 보호되고 있으며, 중요한 정보(이름, 주민등록번호, 주소, 전화번호 등)를 수집하지 않습니다.
            </div>
          </li>
          <li>
            <div class="asking">
              <p>모든 브라우저에 적용되나요?</p>
              <i class="xi-angle-down"></i>
            </div>
            <div class="answer">
              윈도우 익스플로러와 크롬, 그리고 크롬 기반의 브라우저에 적용됩니다.
            </div>
          </li>
          <li>
            <div class="asking">
              <p>스마트폰이나 태블릿에도 적용되나요?</p>
              <i class="xi-angle-down"></i>
            </div>
            <div class="answer">
              스마트폰이나 태블릿은 향후 지원 예정입니다. 감사합니다.
            </div>
          </li>
          <li>
            <div class="asking">
              <p>아이의 나이를 입력하는 이유는 무엇인가요?</p>
              <i class="xi-angle-down"></i>
            </div>
            <div class="answer">
              비슷한 또래 아이들은 어떤 교육 영상을 보는지 알려 드리기 위함입니다.
            </div>
          </li>
          <li>
            <div class="asking">
              <p>간단하게 회원탈퇴 할 수 있나요?</p>
              <i class="xi-angle-down"></i>
            </div>
            <div class="answer">
              마이페이지에서 간단하게 회원탈퇴가 가능합니다. 다만 회원탈퇴를 하는 경우에 1개월 동안 재가입이 불가능하며 서비스 이용기간 중에 히스토리는 사라집니다. 
            </div>
          </li>
        </ul>
      </div>
    </div>


  <script>

    function RoolEvent(target){
      this.$rollBox = $(target);
      this.$ul = this.$rollBox.find('ul');
    }

    RoolEvent.prototype.roll = function(timeout, speed){
      if(this.$ul.length == 0 ){
        return false;
      }
      this.speed = speed;
      this.rollHeight = this.$rollBox.height(); 
      this.rollCount = this.$rollBox.find('ul li').length;
      this.totalHeight = this.rollHeight * this.rollCount;  
      this.moveHeight = 0;

      this.handler = setInterval(this.rollingEvent, timeout, this);

      var then = this;
      this.$rollBox.parent().parent().find('.btn-up').click(function(){
        clearInterval(then.handler);
        if(then.moveHeight>0){
          then.rollingEventReverse(then);
        }
        return false;
      });
      this.$rollBox.parent().parent().find('.btn-down').click(function(){  
        clearInterval(then.handler);      
        if(then.moveHeight + then.rollHeight < then.totalHeight){
          then.rollingEvent(then);
        }
        return false;
      });
    }
    
    RoolEvent.prototype.rollingEvent = function(then){
      then.moveHeight += then.rollHeight;
      then.$ul.animate({'top':-then.moveHeight}, then.speed, function(){
        if(then.moveHeight >= then.totalHeight){
          then.moveHeight = 0;
          then.$ul.css('top', then.moveHeight+'px');
        }
      });  
    }

    RoolEvent.prototype.rollingEventReverse = function(then){
      then.moveHeight -= then.rollHeight;
      then.$ul = then.$rollBox.find('ul');
      then.$ul.animate({'top':-then.moveHeight}, then.speed, function(){
        if(then.moveHeight < 0){
          then.moveHeight = then.totalHeight;
          then.$ul.css('top', then.moveHeight+'px');
        }
      });  
    }

    $(function(){
      // toggle
      $('.asking').click(function(){
        var $this = $(this);        
        var $target = $this.parent();
        if($target.hasClass('actived')){
          $target.children('.answer').slideUp();
          $target.removeClass('actived');
          $this.children('i').removeClass('xi-angle-up').addClass('xi-angle-down');
        } else {
          var $removeTarget = $target.parent().children('.actived');
          $removeTarget.find('.asking i').removeClass('xi-angle-up').addClass('xi-angle-down'); 
          $removeTarget.removeClass('actived').children('.answer').slideUp();
          $target.children('.answer').slideDown();
          $target.addClass('actived');
          $this.children('i').removeClass('xi-angle-down').addClass('xi-angle-up');
        }
        return false;
      });

      // roll event      
      $('.roll-box').each(function(index, item){
        var rollEvent = new RoolEvent(item);
        rollEvent.roll(2000, 600);
      })

    });
  </script>

</th:block>
</th:block>

</html>

